.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  height: 2.1875rem;
  font-size: 1.125rem;
  color: var(--color-white);
  background: none;
  border: 1px solid var(--color-white);
  border-radius: 0.25rem;
}

.button:hover {
  color: var(--color-gold-dark);
  border: 1px solid var(--color-gold-dark);
}
