.link {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
}

.logo {
  width: 1.75rem;
  height: 1.75rem;
  filter: brightness(0) invert(1);
}

.link:hover .logo {
  filter: invert(59%) sepia(18%) saturate(4272%) hue-rotate(18deg) brightness(94%) contrast(87%);
}
