.wrapper {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 4px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.submitButton {
  color: var(--color-white);
  background-color: var(--color-green);
}

.cancelButton {
  color: var(--color-white);
  background-color: var(--color-red);
}
