.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-75);
}

.contentWrapper {
  position: relative;
  padding: 2rem;
  background: var(--color-white);
  border-radius: 0.25rem;
}
